<%- include('../partials/header', { title: '대진 On 정보-글 수정' }) %>

<main class="writeb">
    <form action="/edit/<%= post.id %>" method="post" onsubmit="return handleSubmit()">
        <table class="writet">
            <tr>
                <td class="w1">글 수정</td>
            </tr>
            <tr>
                <td class="w2">Title</td>
            </tr>
            <tr>
                <td class="w3"><input type="text" value="<%= post.title %>" placeholder="제목을 입력하세요" name="title" required></td>
            </tr>
            <tr>
                <td class="w4">Category</td>
            </tr>
            <tr>
                <td class="w5">
                    <select name="category" required>
                        <option value="share" <%= post.category === 'share' ? 'selected' : '' %>>주제공유</option>
                        <option value="community" <%= post.category === 'community' ? 'selected' : '' %>>자유게시판</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="w4">Comment</td>
            </tr>
            <tr>
                <td class="w5">
                    <textarea placeholder="내용을 입력하세요" name="contents" required><%= post.contents %></textarea>
                </td>
            </tr>
            <tr>
                <td class="w6">
                    <button type="submit" class="submit-button">수정 완료</button>
                </td>
            </tr>
        </table>
    </form>

    <!--폼 제출-->
    <script>
        function handleSubmit() {
            alert('작성 완료!');
            return true;
        }
    </script>
</main>

<%- include('../partials/footer') %>
