<%- include('../partials/header', { title: '취업정보-지식on대진' }) %>

<main id="container" class="container">
    <section id="content" class="content">
        <header class="tit-area">
            <h1 class="tit-type1">취업정보</h1>
        </header>

        <!-- 취업 사이트 탭 메뉴 -->
        <div class="swiper tab type1">
            <div class="swiper-wrapper">
                <a href="/employment_info" class="swiper-slide current"><span class="txt">취업사이트</span></a>
                <a href="/careerMap" class="swiper-slide"><span class="txt">취업로드맵</span></a>
            </div>
        </div>

        <!-- 취업 사이트 안내 -->
        <h3 class="tit-type2">취업사이트 안내</h3>
        <table class="tbl-view">
            <caption>국내 리스트</caption>
            <colgroup>
                <col style="width: 110px;">
                <col style="width: 200px;">
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th>번호</th>
                    <th>사이트</th>
                    <th>내용</th>
                </tr>
            </thead>
            <tbody>
                <% jobSites.forEach((site, index) => { %>
                    <tr class="banner_list">
                        <th><img src="<%= site.image %>" alt="<%= site.name %>"></th>
                        <th>
                            <a href="<%= site.link %>" target="_blank">
                                <span class="banner_title"><%= site.name %></span>
                            </a>
                        </th>
                        <td><%= site.description %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </section>
</main>
<!-- //content -->

<%- include('../partials/footer') %>
<script src="../../public/js/home/session.js"></script>
