<%- include('../partials/header', { title: '대진 On 정보-나의기록' }) %>

<main id="container" class="container">
    <section id="content" class="content">
        <header class="tit-area">
            <h1 class="tit-type1">마이페이지</h1>
        </header>

        <div class="swiper tab type1 swiper-initialized swiper-horizontal swiper-free-mode swiper-backface-hidden">
            <div class="swiper-wrapper">
                <a href="/myposts" class="swiper-slide current swiper-slide-active"><span class="txt">나의 기록</span></a>
                <a href="/editprofile" class="swiper-slide"><span class="txt">내 정보 수정</span></a>
            </div>
            <div class="swiper-button-next swiper-button-disabled swiper-button-lock"></div>
        </div>
        <h2 class="tit-type2">나의 게시물</h2>
        <!-- 게시물 테이블 -->
        <table class="board-list">
            <caption>나의 게시물에 대한 번호, 제목, 등록일 안내 리스트입니다.</caption>
            <thead>
                <tr>
                    <th class="list-num">번호</th>
                    <th class="list-tit">제목</th>
                    <th class="list-date">날짜</th>
                    <th class="list-action">수정/삭제</th>
                </tr>
            </thead>
            <tbody>
                <% if (posts && posts.length > 0) { %>
                    <% posts.forEach((post, index) => { %>
                        <tr>
                            <td class="list-num"><%= index + 1 %></td>
                            <td class="list-tit"><a href="/post/<%= post.id %>"><%= post.title %></a></td>
                            <td class="list-date"><%= post.created_at %></td>
                            <td class="list-action">
                                <a href="/edit/<%= post.id %>">수정</a> /
                                <a href="/delete/<%= post.id %>" onclick="return confirm('정말 삭제하시겠습니까?')">삭제</a>
                            </td>
                        </tr>
                    <% }) %>
                <% } else { %>
                    <tr>
                        <td colspan="4" style="text-align: center;">작성한 게시글이 없습니다.</td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <h2 class="tit-type2">나의 댓글</h2>
        <!-- 댓글 테이블 -->
        <table class="board-list custom-class">
            <caption>나의 댓글에 대한 목록입니다.</caption>
            <thead>
                <tr>
                    <th class="list-num">번호</th>
                    <th class="list-tit">게시글 제목</th>
                    <th class="list-tit">댓글 내용</th>
                    <th class="list-date">날짜</th>
                </tr>
            </thead>
            <tbody>
                <% if (comments && comments.length > 0) { %>
                    <% comments.forEach((comment, index) => { %>
                        <tr>
                            <td><%= index + 1 %></td>
                            <td><a href="/post/<%= comment.post_id %>"><%= comment.post_title %></a></td>
                            <td><%= comment.content %></td>
                            <td><%= comment.created_at %></td>
                        </tr>
                    <% }) %>
                <% } else { %>
                    <tr>
                        <td colspan="5" style="text-align: center;">작성한 댓글이 없습니다.</td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </section>
</main>

<%- include('../partials/footer') %>