<%- include('../partials/header', { title: '대진 On 정보-나의기록' }) %>

<main id="container" class="container">
    <section id="content" class="content">
        <header class="tit-area">
            <h1 class="tit-type1">마이페이지</h1>
        </header>

        <div class="swiper tab type1 swiper-initialized swiper-horizontal swiper-free-mode swiper-backface-hidden">
            <div class="swiper-wrapper">
                <a href="/mypage" class="swiper-slide"><span class="txt">학습 진척도</span></a>
                <a href="/myposts" class="swiper-slide current swiper-slide-active"><span class="txt">나의 기록</span></a>
                <a href="/editprofile" class="swiper-slide"><span class="txt">내 정보 수정</span></a>
            </div>
            <div class="swiper-button-next swiper-button-disabled swiper-button-lock"></div>
        </div>
        <h2 class="tit-type2">나의 게시물</h2>
        
    <!-- 게시물 테이블 -->
    <table class="tbl-view">
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>날짜</th>
                <th>수정/삭제</th>
            </tr>
        </thead>
        <tbody>
            <% if (posts && posts.length > 0) { %>
                <% posts.forEach((post, index) => { %>
                    <tr class="banner_list">
                        <th><%= index + 1 %></th>
                        <th><a href="/post/<%= post.id %>"><%= post.title %></a></th>
                        <th><%= post.created_at %></th>
                        <th>
                            <a href="/edit/<%= post.id %>">수정</a> /
                            <a href="/delete/<%= post.id %>" onclick="return confirm('정말 삭제하시겠습니까?')">삭제</a>
                        </th>
                    </tr>
                <% }) %>
            <% } else { %>
                <tr>
                    <td colspan="4" style="text-align: center;">작성한 게시글이 없습니다.</td>
                </tr>
            <% } %>
        </tbody>
    </table>
    </section>
</main>

<%- include('../partials/footer') %>