<%- include('../partials/header', { title: '대진 On 정보 - 게시물 상세' }) %>

<main id="container" class="container">
    <section id="content" class="content">
        <header class="tit-area">
            <h1 class="tit-type1">게시글</h1>
        </header>

        <div class="board-view">
            <h2 class="hidden">게시물 상세</h2>
            <div class="board-header">
                <h2 class="tit"><%= post.title %></h2>
                <ul class="info">
                    <li class="writer">
                        <em>작성자</em> <%= post.author_name %>
                    </li>
                    <li class="date-area">
                        <em class="tit">작성일 :</em>
                        <em><%= post.created_at %></em>
                    </li>
                </ul>
            </div>
            <div class="board-con">
                <p><%= post.contents %></p>
            </div>
        </div>

        <div class="btn-area">
            <a href="/share" class="btn">목록</a>
        </div>
    </section>
</main>

<%- include('../partials/footer') %>
