<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 댓글 관리</title>
</head>
<body>
<main id="container" class="container">
    <h1>회원 관리</h1>
    <table>
        <thead>
            <tr>
                <th>번호</th>
                <th>이름</th>
                <th>아이디</th>
                <th>이메일</th>
                <th>관리</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach((user, index) => { %>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><%= user.name %></td>
                    <td><%= user.id %></td>
                    <td><%= user.email %></td>
                    <td>
                        <form action="/admin/users/<%= user.id %>/delete?_method=DELETE" method="POST" style="display:inline;">
                            <button type="submit" onclick="return confirm('정말 삭제하시겠습니까?');">삭제</button>
                        </form>
                        
                        
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</main>

</body>
</html>
